test/javasource/
test/deployment/
test/.classpath
test/.project
test/.svn/
test/.mendix-cache/
test/theme/
test-mx5/javasource/
test-mx5/deployment/
test-mx5/.classpath
test-mx5/.project
test-mx5/theme/
test-mx5/userlib/
*.launch
*.tmp
*.lock
.idea/

dist/

node_modules/
.editorconfig
*DS_Store*
.vscode/
*.bak
